<form [formGroup]="rdvForm">
  <div class='form-group'>
    <input type='text' class="form-control" formControlName='nom' placeholder="Votre nom">
    <div *ngIf="touchForm.controls['nom'].invalid && (touchForm.controls['nom'].dirty || touchForm.controls['nom'].touched)"
      class="alert alert-danger">
      <div *ngIf="touchForm.controls['nom'].errors.required">Le champ nom est obligatoire.</div>
    </div>
  </div>

  <div class='form-group'>
    <input type='email' class='form-control' formControlName='email' placeholder="Votre adresse Mail">
    <div *ngIf="touchForm.controls['email'].invalid && (touchForm.controls['email'].dirty || touchForm.controls['email'].touched)"
      class="alert alert-danger">
      <div *ngIf="touchForm.controls['email'].errors.required">Le email est obligatoire.</div>
    </div>
  </div>

  <div class='form-group'>
    <input type='text' class='form-control' formControlName='sujet' placeholder="Sujet">
    <div *ngIf="touchForm.controls['sujet'].invalid && (touchForm.controls['sujet'].dirty || touchForm.controls['sujet'].touched)"
      class="alert alert-danger">
      <div *ngIf="touchForm.controls['sujet'].errors.required">Le sujet est obligatoire.</div>
    </div>
  </div>

  <div class='form-group'>
    <textarea class='form-control' cols='30' rows='6' formControlName='message' placeholder="Tapez ici votre message"></textarea>
    <div *ngIf="touchForm.controls['message'].invalid && (touchForm.controls['message'].dirty || touchForm.controls['message'].touched)"
      class="alert alert-danger">
      <div *ngIf="touchForm.controls['message'].errors.required">Le message est obligatoire.</div>
    </div>
  </div>
  <button type='submit' [disabled]="touchForm.pristine ||touchForm.invalid" class='btn btn-primary'>Envoyer</button>
</form>
