<div class="container mx-auto">

<h1 class="text-center">Prendre un rendez-vous</h1>

<!-- formulaire de prise de rendez-vous -->

<form [formGroup]="rdvForm" (ngSubmit)="mailForm(rdvForm.value)">

    <div class='form-group'>
        <label>Société</label>
        <input type='text' class="form-control" formControlName='societe' placeholder="Votre société">
    </div>

    <div class="form-row">

    <div class='form-group col-md-6'>
        <label>Nom</label>
        <input type='text' class="form-control" formControlName='nom' placeholder="Votre nom">
        <div *ngIf="rdvForm.controls['nom'].invalid && (rdvForm.controls['nom'].dirty || rdvForm.controls['nom'].touched)"
        class="alert alert-danger">
        <div *ngIf="rdvForm.controls['nom'].errors.required">Le champ nom est obligatoire.</div>
        </div>
    </div>

    <div class='form-group col-md-6'>
        <label>Prénom</label>
        <input type='text' class="form-control" formControlName='prenom' placeholder="Votre prénom">
        <div *ngIf="rdvForm.controls['prenom'].invalid && (rdvForm.controls['prenom'].dirty || rdvForm.controls['prenom'].touched)"
        class="alert alert-danger">
        <div *ngIf="rdvForm.controls['prenom'].errors.required">Le champ prénom est obligatoire.</div>
        </div>
    </div>
    </div>
    <div class="form-row">

    <div class='form-group col-md-6'>
        <label>E-mail</label>
        <input type='email' class='form-control' formControlName='email' placeholder="Votre adresse Mail">
        <div *ngIf="rdvForm.controls['email'].invalid && (rdvForm.controls['email'].dirty || rdvForm.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="rdvForm.controls['email'].errors.required">Les email des particpants sont obligatoire.</div>
        </div>
    </div>

    <div class="form-group col-md-6">
    <label>Sujet</label>
    <input type='text' class='form-control' formControlName='sujet' placeholder="Demande de devis">
    <div *ngIf="rdvForm.controls['sujet'].invalid && (rdvForm.controls['sujet'].dirty || rdvForm.controls['sujet'].touched)"
    class="alert alert-danger">
    <div *ngIf="rdvForm.controls['sujet'].errors.required">Le sujet est obligatoire.</div>
    </div>
    </div>
    </div>

    <div class="form-row">

    <div class='form-group col-md-6'>
    <label>Date de début</label>
    <input type='date' class='form-control' formControlName='debut' placeholder="">
    <div *ngIf="rdvForm.controls['debut'].invalid && (rdvForm.controls['debut'].dirty || rdvForm.controls['debut'].touched)"
    class="alert alert-danger">
    <div *ngIf="rdvForm.controls['debut'].errors.required">La date de début est obligatoire.</div>
    </div>
    </div>

    <div class='form-group col-md-6'>
    <label>Date de fin</label>
    <input type='date' class='form-control' formControlName='fin' placeholder="">
    <div *ngIf="rdvForm.controls['fin'].invalid && (rdvForm.controls['fin'].dirty ||rdvForm.controls['fin'].touched)"
    class="alert alert-danger">
    <div *ngIf="rdvForm.controls['fin'].errors.required">Le date de fin est obligatoire.</div>
    </div>
    </div>
    </div>

    <div class="form-row">

    <div class='form-group col-md-6'>
    <label>Heure de début</label>
    <input type='time' min="9:00" max="18:45" class='form-control' formControlName='heuredebut' placeholder="">
    <div *ngIf="rdvForm.controls['heuredebut'].invalid && (rdvForm.controls['heuredebut'].dirty ||rdvForm.controls['heuredebut'].touched)"
    class="alert alert-danger">
    <div *ngIf="rdvForm.controls['heuredebut'].errors.required">L'heure de début est obligatoire.</div>
    </div>
    </div>

    <div class='form-group col-md-6'>
    <label>Heure de fin</label>
    <input type='time' min="9:15" max="19:00" class='form-control' formControlName='heurefin' placeholder="">
    <div *ngIf="rdvForm.controls['heurefin'].invalid && (rdvForm.controls['heurefin'].dirty ||rdvForm.controls['heurefin'].touched)"
    class="alert alert-danger">
    <div *ngIf="rdvForm.controls['heurefin'].errors.required">L'heure de fin est obligatoire.</div>
    </div>
    </div>

    </div>

<!-- recaptcha -->

<re-captcha required siteKey="6LcpTIMUAAAAAP5u30xY4Mzw_NMLLt5eI7mfbgtN" formControlName="recaptchaReactive"></re-captcha>

<button type='submit' [disabled]="rdvForm.pristine ||rdvForm.invalid" class='btn btn-primary'>Envoyer</button>

</form>
</div>


