<div class="container mx-auto">

  <button class="btn btn-white text-dark"  routerLink="">Retour à l'accueil</button>
    <p class="text-center">Heure d'ouverutre : 9h-12h 14h-18h</p>
  <p class="text-center">Votre demande sera traitée et vous recevrez un e-mail de confirmation .</p>
    <button type="button" (click)="openLg(content)" class="btn btn-primary btn-lg btn-block d-flex justify-content-center"> Réserver un Rendez-vous </button>
<div class="my-1 d-flex justify-content-center taille">
  <pagination-controls previousLabel="" nextLabel="" responsive="true" (pageChange)="page = $event"></pagination-controls>
</div>

<div class="row justify-content-between mt-5">

<div class="mobile-wrapper col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngFor="let item of objetTest | paginate:{itemsPerPage:5, currentPage: page}">
<!--======= Top =======-->

<header class="header"></header>
<!--======= Day =======-->

<section class="day-box" id="day-box">
  <h3 class="date-title">{{item.date | date: ' E dd MMM yyyy'}}</h3>
</section>

<div class="available-hours">
  <div class="container">
    <h3>Horaires non disponible</h3>
    <div class="events-wrapper">
      <div class="event" *ngFor="let event of item.event">
        <h4 class="event__time nonDispo">{{event.start.dateTime | date: 'hh:mm'}} - {{event.end.dateTime | date: 'hh:mm'}}</h4>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>

    <!-- debut modal -->
    <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <app-form></app-form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')"> Close </button>
      </div>
  </ng-template>
<!-- fin modal -->
