<div class="container mx-auto">
  <button class="btn btn-white text-dark"  routerLink="">Retour à l'accueil</button>
    <div class="my-1 d-flex justify-content-center taille">
        <pagination-controls previousLabel="" nextLabel="" responsive="true" (pageChange)="page = $event"></pagination-controls>
    </div>
  --> {{objetTest.length}}
    <button type="button" (click)="openLg(content)" class="btn btn-secondary btn-lg btn-block d-flex justify-content-center"> Réserver un Rendez-vous </button>
  <div class="row justify-content-between">
<div class="calendar light col xs-12 m-3" *ngFor="let item of objetTest | paginate:{itemsPerPage:5, currentPage: page}">
  <div class="calendar_header">
    <h1 class = "header_title"></h1>
    <p class="header_day"> {{item.date | date: 'EEEE'}}</p>
    <p class="header_day"> {{item.date | date: 'dd-MM-yyyy'}}</p>
  </div>
  <div class="calendar_events" >
    <p class="ce_title">Horaires non disponible</p>
    <div class="event_item" *ngFor="let event of item.event">
      <div class="ei_Title nonDispo">{{event.start.dateTime | date: 'hh:mm'}} - {{event.end.dateTime | date: 'hh:mm'}} </div>
    </div>
  </div>
</div>
</div>
</div>

    <!-- debut modal -->
    <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <app-form></app-form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')"> Close </button>
      </div>
  </ng-template>
<!-- fin modal -->
