
    /* whole container */
    .container {
      width: 100%;
      margin-top: 100px;
    }

    /* whole card wrapper ==> START */

    .mobile-wrapper {
      background-color:
        #FFF;
      width: 380px;
     min-height: 45rem;
     max-height: 45rem;
      margin: auto;
      padding: 10px 0 20px;
      border-radius: 10px;
      box-shadow: 0px 10px 30px -10px #000;
      transition: .5s;
    }

    /* on hover zoom out */

    .mobile-wrapper:hover {
      transform: scale(1.05);
      transition: .5s;
    }

    /* whole card wrapper ==> END */


    /* top section */
    .header {
      padding-bottom: 15px;
      margin-bottom: 40px;
    }

    /* box where date is indicated */

    .day-box {
      background: linear-gradient(to left,
        #60B9E5, rgba(51, 60, 70, .25)),
        #60B9E5;
      color:
        #FFF;
      padding: 37px 40px;
      position: relative;
      box-shadow: 0px 0px 40px -9px #60B9E5;
      margin-bottom: 50px;

    }

    /* styling of date */

    .date-title {
      font-size: 20px;
      margin: 7px 0 0 0;
      letter-spacing: 0.5px;
      font-weight: 600;
      text-align: center;
    }

    /* sub-heading */

    .available-hours .container h3 {
      color:
        #333;
      font-size: 17px;
      margin-bottom: 30px;
      text-align: center;
    }

    /* each event line */

    .events-wrapper .event {
      padding-left: 30px;
      margin-bottom: 30px;
      cursor: pointer;
    }

    /* event time */

    .event__time {
      margin: 0;
      color:
        #555;
      font-size: 15px;
      font-weight: 800;
      letter-spacing: 1px;
    }

    /* event description */

    .event__description {
      margin-top: 10px;
      color:
        #919294;
      font-size: 13px;
      font-weight: 300;
    }

    /* button  */

    .btn {
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #60B9E5;
      color: #FFF;
      font-weight: 600;
      transition: .5s;
    }

    .btn:hover {
    background-color: #333C46;
    transition: .5s;
    }

.nonDispo {
  background-color: red;
  color: white;
}


.light {
  background-color: #fff;
}

.calendar {
  width: 370px;
  box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}
